		<title>My Portfolio</title>
	</head>
	<body class="bg-gradient-to-r from-blue-500 to-black">
		<header class="text-center">
			<h1 class="text-white">My Portfolio</h1>
			<nav class="flex justify-center items-center">
				<a href="/">Home</a>
				<a href="/about">About Me</a>
				<a href="/projects">Projects</a>
				<a href="/contact">Contact Me</a>
			</nav>
		</header>
		<main class="p-20">
			<h2 class="text-2xl text-white">Welcome to My Portfolio!</h2>
			<p>
				I'm a developer with a passion for building web applications. I'm proficient in a variety of
				technologies, including Svelte, React, and Vue. I'm also an experienced designer and can
				create beautiful and user-friendly interfaces.
			</p>
			<p>Here are some of my projects:</p>
			<ul>
				<li>
					<a href="/projects/my-website">My Website</a>
				</li>
				<li>
					<a href="/projects/a-blog-i-built">A Blog I Built</a>
				</li>
				<li>
					<a href="/projects/a-web-app-i-built">A Web App I Built</a>
				</li>
			</ul>
		</main>
		<footer class="text-center text-sm text-gray-500">&copy; 2023 Me</footer>
	</body>
</html>
