<script>
</script>

<header>
	<h1>My Portfolio</h1>
	<nav>
		<a href="/Home">Home</a>
		<a href="/Projects">Projects</a>
		<a href="/Contact">Contact Me</a>
	</nav>
</header>
<main>
	<h2>Welcome to My Portfolio!</h2>
	<p>
		I'm a developer with a passion for building web applications. I'm proficient in a variety of
		technologies, including Svelte, React, and Vue. I'm also an experienced designer and can create
		beautiful and user-friendly interfaces.
	</p>
	<p>Here are some of my projects:</p>
	<ul>
		<li>
			<a href="/projects/my-website">My Website</a>
		</li>
		<li>
			<a href="/projects/a-blog-i-built">A Blog I Built</a>
		</li>
		<li>
			<a href="/projects/a-web-app-i-built">A Web App I Built</a>
		</li>
	</ul>
</main>
<footer>&copy; 2023 Me</footer>

<style>
	body {
		font-family: sans-serif;
		margin: 0;
	}

	.container {
		max-width: 960px;
		margin: 0 auto;
	}

	.header {
		background-color: #fff;
		padding: 20px;
		border-bottom: 1px solid #ccc;
	}

	.main {
		padding: 20px;
	}

	.footer {
		background-color: #fff;
		padding: 20px;
		border-top: 1px solid #ccc;
	}
</style>
